{% block content %}
<div 
    id="2LXPNLSMAauNJfnC58lSqY"
    class="flex bg-neutral">
    <iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/track/2LXPNLSMAauNJfnC58lSqY?utm_source=generator"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        width="100%"
        height="80px"
        frameborder="0">
    </iframe>
    <button
        onClick="(function() {
            $.ajax({
                url: '/api/interact_track/',
                type: 'POST',
                xhrFields: { withCredentials: true },
                data: {
                    'track_id': parentNode.id,
                    'interact_flag': 0,
                }});
        })(); return true;">
        Like
    </button>
    <button
        onClick="(function() {
            $.ajax({
                url: '/api/interact_track/',
                type: 'POST',
                xhrFields: { withCredentials: true },
                data: {
                    'track_id': parentNode.id,
                    'interact_flag': 1,
                }});
        })(); return true;">
        Dislike
    </button>
    <button
        onClick="(function() {
            $.ajax({
                url: '/api/create_playlist/',
                type: 'POST',
                xhrFields: { withCredentials: true },
            });
        })(); return true;">
        Create Playlist
    </button>
    {% if playlists %}

    <div class="flex flex-col border-2 border-blue">

        {% for playlist in playlists %}

        <button
            id={{ playlist.id }}
            onClick="(function() {
                $.ajax({
                    url: '/api/add_to_playlist/',
                    type: 'POST',
                    xhrFields: { withCredentials: true },
                    data: {
                        'playlist_id': id,
                        'track_id': parentNode.parentNode.id,
                    }
                });
            })(); return true;">
            {{ playlist.name }}
        </button>

        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}