<div class="hidden selection-container" id="artist-search-container" autocomplete="off">
    <p class="text-lg">
        Who are your two favorite artists?</p>
    <div class="divider"></div>
    <input type="text" placeholder="Search for artists..." id="artist-search-bar"
        class="search-bar w-full input input-bordered mb-4" />
    <div id="artist-results-placeholder">
        <div id="artist-results-selected" class="flex flex-wrap flex-row">
        </div>
    </div>
    <div class="divider"></div>
    <div class="flex justify-between">
        <button type="button" class="
                            btn-prev rounded text-primary border-2 border-primary px-5 py-2 text-center mr-3
                            hover:bg-primary hover:text-white">
            Previous</button>
        <button type="button" class="
                            btn-cont rounded text-primary border-2 border-primary px-5 py-2 text-center mr-3
                            hover:bg-primary hover:text-white">
            Next</button>
    </div>
</div>